body {
  font-size: .875rem;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  margin: 25px 0 35px 0;
  color: #ff4143;
}

h4, h5, h6 {
  margin: 25px 0 35px 0;
  color: #090901;
  font-weight: bold;
}

pre {
  margin: 5px 0 50px 0 !important;

}

pre code {
  font-size: 0.95rem !important;
}

b, strong {
  color: #000;
}

p {
  font-size: 1rem;
  line-height: 1.7em;
  color: #777;
  display: block;
  margin: 25px 0 35px 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.feather {
  width: 12px;
  height: 12px;
  vertical-align: text-bottom;
}

a,
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #F9F9FC;
  color: #fff;
  transition: all 0.3s;
  padding-left: 3rem;
  overflow-y: auto;
}

#sidebar.active {
  margin-left: -350px;
}

#sidebar .sidebar-header {
  padding: 0 20px;
  background: #F9F9FC;
}

#sidebar-title {
  font-weight: 900;
  margin:35px 0 10px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #000;
  padding: 10px;
}

#sidebar ul li {
  display: block;
}

#sidebar ul li a {
  padding: 10px;
  /*font-size: 1.1em;*/
  font-size: .875em;
  display: block;
}

#sidebar ul li a:hover, li.active a {
  /*color: #7386D5;*/
  background: #fff;
  color: #d5384d !important;
  margin-left: 0.5rem !important;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #000;
  background: #f3f3f3;
}

#sidebar ul li.active > a:before {
  content: " ";
  position: absolute;
  /*top: .25rem;*/
  left: 30px;
  width: 15px;
  height: 15px;
  background: url("../img/icons/dot.svg") center center no-repeat;
}

a[data-toggle="collapse"] {
  position: relative;
  font-weight: 900;
}

a[data-toggle="collapse"] + ul.list-unstyled a {
  padding-left: 3rem !important;

}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  /*background: #2B3D50*/
  background: #f9f9fc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 350px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

#content p a {
  font-size: 0.875em;
  font-weight: bold;

}

#content p a:hover {
  color: #d5384d;
}

#content p > a:before, #content h5[id]:before {
  /*content: "\26ED  ";*/
  content: "\2237  ";
  color: #d5384d;
}
.metalsmith-content {
  /*//mr-5 pr-5*/
  margin-right: 30px;
  padding-right: 30px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -350px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
  }

  #content.active {
    width: calc(100% - 350px);
  }

  #sidebarCollapse span {
    display: none;
  }

  .code-toolbar > pre {
    width: 100%;
  }

  .code-toolbar > pre span {
    font-size: 2.4vw!important;
  }
  .metalsmith-content {
    margin-right: 0;
    padding-right: 0;
  }
}

.description {
  border-left: solid 4px #0a6ebd;
  min-height: 50px;
  box-shadow: 3px 3px 8px -3px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  padding: 5px 10px;
  margin: 20px 0;
}
